{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}

<div class="container mt-3">
    <div class="row mb-3">
        <div class="col-md-6">
            <h1>Nos services</h1>
        </div>
        <div class="col-md-6 text-end">
            <a href="{{ path('app_service_add') }}" class="btn btn-main">
                Ajouter
                <i class="material-icons">add_circle</i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-5 d-flex align-items-center mb-3">
            <img src="/voiture/service.png" alt="Horaires d'ouverture" class="img-fluid rounded-4 mx-auto">
        </div>
        <div class="col-xl-7 card card-body bg-body-tertiary border-0 p-4">
            <div class="table">
                <table class="table">
                    <tr>
                        <th class="w-25"><span class="text-sub fw-bold">Nom</span></th>
                        <th class="w-50"><span class="text-sub fw-bold">Description</span></th>
                        <th class="w-25 text-end"><span class="text-sub fw-bold">Actions</span></th>
                    </tr>
                    {% for service in services %}
                    <tr>
                        <td>{{ service.name }}</td>
                        <td>{{ service.description|u.truncate(80, '...') }}</td>
                        <td class="text-end">
                            <a href="{{ path('app_service_edit', {id: service.id}) }}" class="btn btn-main">
                                <i class="material-icons">edit</i>
                            </a>
                            <a href="{{ path('app_service_delete', {id: service.id}) }}" class="btn btn-main">
                                <i class="material-icons text-danger">delete</i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}